<a href="https://colab.research.google.com/github/NehaDShakya/Albert_School/blob/main/Get_Ready_Guide__Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo-as.png]()


<hr color="black">

<center><h1>Get Ready Guide</h1></center>

<hr color="black">

<section>
    <center>
    <h2>How to use this guide</h2>
    <p>This document provides a guide to help with the important task of getting ready for September.</p>
    </center>
</section>

Solving cases with ChatGPT and GitHub Copilot may seem easy, but learning to do it on your own is crucial for complex data. Gain confidence and solve what you can without artificial help, master the process!

This guide consists of four parts:

1. [Objectives](#Objectives): Make sure you are ready for September.
2. [Learning](#Learning): Various ressources to get you up to speed.
3. [Testing](#Testing): A short series of exercises to asses your level.
3. [Project](#Project): A project you have to work on before bootcamp, with two [deliverables](#Task).
4. [Practice](#Practice): There is no such thing as too much practice.

<a name="Objectives"></a>

# Objectives

## What you will learn

This section describes the learning objectives of the document.

Note that some parts are denoted **ExtraMile**, meaning that those are not strict requirements to be ready, but having an overview of them will help you get the most out of the bootcamp.

1. [Manipulating data with Sheets](#P1)
* Create a table and implement standard functions : FILTER, SUM, SUMIF, SUMPRODUCT, FILTER, ...
* Design a Pivot Table
* Implement advanced functions : VLOOKUP / HLOOKUP, INDEX MATCH functions, ...
* Be familiar wit standard data visualisation

2. [General Python programming](#P2)
* Manipulate standard Python objects : int, char, list, dictionary, ...
* Create for and while loops
* Write standard user-defined functions

3. [[ExtraMile] Descriptive and exploratory analysis with Pandas library](#P3)
* Reading, writing and exploring an unknow dataset

4. [[ExtraMile] SQL](#P4)
* Working with databases, a necessary step to scale your data projects and pipelines.

<a name="Learning"></a>
# Learning

It's important that you master the first two topics before the bootcamp !

The following parts are extramile, study them to be on top of everything and get the most value out of your time on campus.

<a name="P1"></a>
## Manipulating data with Sheets

To learn Google Sheets, go to [this folder](https://drive.google.com/drive/folders/1AQDTfm7ix5GHly29d013YE7rSqXso3p0?usp=sharing) !

Watch the videos and use the accompanying documents to practice the operations explained in the tutorials.

<a name="P2"></a>
## General Python programming

To learn python basics, you may rely on <a href="https://www.youtube.com/playlist?list=PLTjRvDozrdlxj5wgH4qkvwSOdHLOCx10f">this</a> excellent free tutorial.

<h3>Written ressources</h3>

These Kaggle courses provide step-by-step exercises that are concise and perfect for you if you're seeking a quick-start or a refresher on Python fundamentals.

1. https://www.kaggle.com/learn/intro-to-programming
2. https://www.kaggle.com/learn/python

<a name="P3"></a>
## [ExtraMile] Descriptive and exploratory analysis with Pandas library

More Kaggle ressources for you to learn everything you need to know :)

1. https://www.kaggle.com/learn/pandas

<h3>Python - ULTIMATE CHEATSHEET</h3>

The cheatsheet is overwhelming when you begin, but wait till the end of the bootcamp, and it will all make sense !

https://www.kaggle.com/discussions/getting-started/407595

<a name="P4"></a>
## [ExtraMile] SQL

SQL stands for Structured Query Language. It is a programming language designed for managing and manipulating relational databases.

During the course **Hands on SQL databases**, you will use MySQL: MySQL is an open-source relational database management system (RDBMS) that is widely used for managing and storing structured data.

If you understand and master the concepts described on <a href="https://drive.google.com/file/d/17z-qlGTbrIZpJTJQhwSldIIQSPZZSp7u/view?usp=drive_link">this cheat sheet</a>, you are more than ready !

You may discover key concepts here:

1. <a href="https://www.youtube.com/watch?v=7S_tz1z_5bA">MySQL Tutorial</a>
2. https://www.kaggle.com/learn/intro-to-sql
3. https://www.kaggle.com/learn/advanced-sql

<a name="Testing"></a>

# Testing

## Set up

These steps are required for the checks to work properly. For detailed instructions, check [the video](https://drive.google.com/file/d/1Brzr-TMprPNnzqdGWqk4_xC3-CVyE12q/view?usp=sharing) !

In [ ]:
# Click on "play" next to this cell
from google.colab import files

In [ ]:
# Great !
# Now, upload the file learntools.zip from the folder shared with you by Albert School

files.upload()

In [ ]:
# Run this cell !

!unzip learntools.zip

In [ ]:
from learntools.core import binder;

binder.bind(globals())

from learntools.check import *

In [ ]:
# If everything works fine, you will see a success message appear !

print("Hello, Albert !")

q1.check()

Hello, Albert !

If you see 'Hello, Albert!' above, You have successfully printed a message, and you're ready to move on to the next parts of this notbook.

## Manipulating data with Google Sheets

Did you successfully complete the exercises in the videos ?
It should be enough to tackle the project in the next part !

## General Python programming

This section consists of **4 questions** on general Python programming.

We expect you to solve these 4 questions in less than 45 minutes.

**Topics.**

* Manipulation of lists.

* Manipulation of dictionaries.

* Manipulation of strings.

<hr color="black" />

**Question 1.**

<hr color="black" />

Write a function ``element_at`` that **takes in**:

* a *list* ``l`` of integer numbers;

* an *integer* ``pos``.

The function **returns**:

* the element of the list that is ``pos`` positions away from the last element of the list.

**Special cases**. The function will return ``None`` if **at least one** of the following cases arises:

* ``pos`` $\geq$ ``len(l)``.

* The list ``l`` is empty.

<br>

<hr color="black" />

**Examples.**

<hr color="black" />

Let ``l`` be the list ``[1, 5, 9, 4, 10, 6, 2]``.

* ``element_at(l, 0)`` must return 2 (the last element in the list).

* ``element_at(l, 1)`` must return 6 (the element immediately before the last one in the list).

* ``element_at(l, 6)`` must return 1 (the first element in the list).

* ``element_at(1, 7)`` must return ``None``.

In [ ]:
# WRITE YOUR CODE HERE

def element_at(l, n):
    return 3



# Check whether the code is correct
q2.check()

Check: When you've updated the starter code, `check()` will tell you whether your code is correct.

<hr color="black" />

**Question 2.**

<hr color="black" />

Write a function ``prices_ttc`` that **takes in**:

* a list ``prices_ht`` of *real* numbers. Each item of the list represents the price of a product before tax.

* an *integer* ``vat_rate`` between 0 and 100. This value indicates, as its name implies, the VAT (TVA in French) rate.

The function **returns**:

* a new list that contains the price of each product including the VAT.

**Special case.** If ``vat_rate`` $\lt$ 0 or ``vat_rate`` $\gt$ 100, the function **must raise** a ``ValueError`` exception.

<br>

<hr color="black" />

**Example.**

<hr color="black" />

* ``prices_ttc([85, 30, 50, 70, 110], 20)`` returns the list ``[102, 36, 60, 84, 132]``.

In [ ]:
# WRITE YOUR CODE HERE
def prices_ttc():
    return



# Check whether the code is correct
q3.check()

NameError: ignored

<hr color="black" />

**Question 3.**

<hr color="black" />

Write a function ``dictdiff`` that **takes in** two dictionaries ``d1`` and ``d2``; both dictionaries can have keys and values of any type.

The function **returns** a new dictionary that expresses the difference between ``d1`` and ``d2``.

<u>More specifically</u>:

* If ``d1`` and ``d2`` have the same content, the function returns an empty dictionary.

* Let ``k:v1`` be an item of ``d1``, and ``k:v2`` be an item of ``d2``, such that ``v1`` $\neq$ ``v2`` (both items have the same key ``k``); the returned dictionary will contain the item ``k:(v1, v2)``.

* Let ``k:v1`` be an item of ``d1``, such that ``k`` is not a key of ``d2`` ; the returned dictionary will contain the item ``k:(v1, None)``.

* Let ``k:v2`` be an item of ``d2``, such that ``k`` is not a key of ``d1`` ; the returned dictionary will contain the item ``k:(None, v2)``.

<br>

<hr color="black" />

**Examples.**

<hr color="black" />

Consider the three following dictionaries:

* ``d1 = {'a': 1, 'b': 2, 'c': 3}``

* ``d2 = {'a': 1, 'b': 2, 'c': 4}``

* ``d3 = {'a': 1, 'b': 2, 'd': 3}``

* ``d4 = {'a': 1, 'b': 2, 'c': 3}``

We have the following results:

* ``dictdiff(d1, d4)`` returns an empty dictionary ``{}``, as ``d1`` and ``d4`` have the same content.

* ``dictdiff(d1, d2)`` returns ``{'c': (3, 4)}``, because ``d1`` contains ``'c':3`` and ``d2`` contains ``'c':4`` (the other items are the same).

* ``dictdiff(d2, d3)`` returns ``{'c': (4, None), 'd': (None, 3)}``, because ``d2`` contains ``'c': 4`` and ``d3`` does not have any key ``'c'``; similarly, ``d3`` contains ``'d': 3``, and ``d2`` does not have any key ``'d'``.

ðŸ‘‰ ``dictdiff`` is not commutative.

In [ ]:
# WRITE YOUR CODE HERE



q4.check()

<hr color="black" />

**Question 4.**

<hr color="black" />

You receive an encrypted message from a friend of yours.
You know that your friend used the Caesar cipher, that consists in replacing each letter of the original message by a letter that is $k$ positions down the alphabet.

ðŸ‘‰ We consider the English alphabet (a b c d e f g h i j k l m n o p q r s t u v w x y z). We consider both **upper** and **lower case** letters.

<br>

<hr color="black" />

**Example.** When using a Caesar cipher with $k$=3, the letter ``a`` would be replaced by the letter ``d``, the letter ``b`` would be replaced by the letter ``e`` and so on.

ðŸ‘‰ The list of the alphabet letters is a circular one: the letter following ``z`` is ``a``.
Therefore, with $k$=3, the letter ``z`` would be replaced by the letter ``c``.

<hr color="black" />


<br>


Write a function ``decipher_message`` that **takes in**:

* a string ``message`` that contains the encrypted message.

* the integer ``k`` that indicates the number of positions that have been counted to replace a letter while encrypting the message.

The function **returns** the decrypted message.

<br>

<hr color="black" />

**Example.**

* ``decipher_message('Zpv bsf epjoh hsfbu', 1)`` returns ``You are doing great``.

<hr color="black" />

In [ ]:
# WRITE YOUR CODE HERE




# Check whether the code is correct
q5.check()

Done already ? Check the practice section for more !

## [ExtraMile] Descriptive and exploratory analysis with Pandas library

<hr color='black' />

**Dataset.**

<hr color='black' />

We consider a dataset of shows (movies, TV series, ...).

In the following questions we consider file ``./data/imdb_titles_small.csv``.

The table has the following columns:

* ``tconst``. Unique identifier of the show.

* ``titleType``. The type of the show.

* ``primaryTitle``. The title by which the show is known.

* ``originalTitle``. The original title of the show.

* ``iAdult``. Whether the show is only for adults (1) or not (0).

* ``startYear``. For a movie, this is the release year. For a series, this is the year of the first season.

* ``endYear``. The year of the last season of a series. For movies, or any other show, the column contains the value ``\N``.

* ``runtimeMinutes``. Duration of the show.

* ``genres``. Genres of the show.

<hr color="black" />

**Question 5.**

<hr color="black" />

Complete the following code to read the given file into a Pandas DataFrame called ``shows_df``.

In [ ]:
# WRITE YOUR CODE HERE







# Check whether the code is correct
q6.check()

<hr color="black" />

**Question 6.**

<hr color="black" />

Complete the following code to assign to variable ``show_types`` the *list* of all show types  (values in the column ``titleType``) with <u>no repetitions</u>.

In [ ]:
# WRITE YOUR CODE HERE




# Check whether the code is correct
q7.check()

<hr color="black" />

**Question 7.**

<hr color="black" />

Complete the following code so that:

* **Question 7.1** Variable ``shows_1939`` contains the *list* of the identifiers (column ``tconst``) of all shows released in 1939 (column ``startYear``).

* **Question 7.2** Variable ``shows_wwii`` contains the *list* of the identifiers of all shows released during the Second World War (WWII, 1939-1945).

* **Question 7.3** Variable ``movies_wwii`` contains the *list* of the identifiers of all shows of type ``movie`` released during the Second World War.

In [ ]:
# WRITE YOUR CODE HERE





# Check whether the code is correct
q8.check()

<hr color="black" />

**Question 8.**

<hr color="black" />

Each value in column ``genres`` of DataFrame ``shows_df`` is a *string*; if a show has many genres, their name is separated by a comma (,).

ðŸ‘‰ Execute the following cell to see an example.

In [ ]:
[genre for genre in shows_df.genres.values if ',' in genre][:10]

**Write a code** to replace each string in column ``genres`` with a list.

<hr color="black" />

**Example**. Instead of the value ``"Animation,Comedy"`` we'd like to have the value ``["Animation", "Comedy"]``

<hr color="black" />

ðŸ‘‰ Your code might not work correctly on the first execution.
It is better to work on a copy of the DataFrame ``shows_df``.

Work **exclusively** on the DataFrame ``temp`` in the following cell.

In [ ]:
temp = shows_df.copy()

# WRITE YOUR CODE HERE



# Check whether the code is correct.
q9.check()

If your code executed correctly, then we need to copy ``temp`` into ``shows_df``.

ðŸ‘‰ **Execute the following cell**

In [ ]:
shows_df = temp

<a name="Project"></a>


# Project with Google Sheets

ðŸ“¢ Calling All Data Explorers! ðŸ“Š

ðŸ” Prepare for Your Master's Program with an Engaging Walmart Sales Dataset Project! ðŸ›’

Attention, aspiring data analysts! We have an exciting opportunity for you to dive deep into the world of data exploration and analysis while preparing for your bootcamp. Get ready to enhance your skills and gain valuable insights by working on a captivating project using the Walmart Sales Dataset.

To embark on this summer project and set yourself up for success in your Master's program, follow these steps:

1. Obtain the Walmart Sales Dataset: You can access the dataset through this [Google Sheets link](https://drive.google.com/drive/folders/11aXwR6ohDA9WTw-yW-gqZwm674JY-Gvf?usp=sharing). The dataset is a subset of the larger retail dataset available on [Kaggle](https://www.kaggle.com/datasets/manjeetsingh/retaildataset?select=stores+data-set.csv).

2. Familiarize Yourself with the Dataset: Take time to understand the structure and contents of the dataset. See the "information" document to get some information. Check in particular the types of every column (date, number, boolean...).
 **Do not** download data from Kaggle, it will be too heavy for Google Sheets to handle.

3. Clean your data: Remove negative values, verify the holidays are correctly assigned, make sure you have data for every week and every store...

4. Define a Research Question or Objective: Determine the specific area of focus for your project. Consider questions related to **sales** trends, **store** performance,  or the impact of various  **features** on sales.

4. Plan Your Analysis Approach: Outline the methodologies and techniques you will use to analyze the dataset.

5. Perform Data Analysis:

> 1.   Study departments: how do the sales of each department evolve over time ? Do we see any seasonality ?
> 2.   Compare store types: which types of stores see the most sales ? Does this change over time ?
> 3.   Study the impact of features: can you find any correlation between some features and the weekly sales ?
> 4.   Holidays: Do holidays have an impact on sales ? For which departments, for which stores ? What about Christmas ?
> 5.   Explore any questions of interest.

7. Interpret and Communicate Your Findings: Produce meaningful charts to convey your findings and to communicate them effectively to others.

7. Reflect and Learn: Take time to reflect on your project, including the challenges you faced, the lessons you learned, and the opportunities for improvement. Embrace this project as a learning experience that will enhance your skills and prepare you for your Master's program.

By leveraging these Google Sheets functionalities, you can effectively analyze the Walmart Sales Dataset and derive meaningful insights to address your research question or objective.

Get ready to impress your professors and colleagues with your analytical prowess! ðŸŒžðŸ“Š

Wishing you an insightful and rewarding summer project as you prepare for your Master's program! ðŸš€

<a name="Task"></a>

<hr color="black" />

**Your task**

<hr color="black" />

Two deliverables:
1. Several insightful charts added to the Google Sheets document.

2. A deck of 10 slides for a 10 minute presentation of your results -- Note that we only expect you to produce one deck, based either on your Excel or your Google Sheets analysis

<a name="Practice"></a>

# Practice

### Websites to practice python


For a wide range of exercises, check out these websites that offer almost unlimited practice.
They delve into topics we haven't covered yet, and trust me, they are fascinating. Someday, you might come across these topics, and oh boy, you'll be thrilled to already have a solid understanding of them!

But let's not forget, the essential topics to focus on are:
- Basic data types
- Logic & Conditions
- Loops
- Functions
- Strings, Sets
- Lists & Arrays
- Sets & Dictionaries

Here are a couple of more advanced topics that are also :
-

They will appear in every algorithms you will ever encounter

1. https://www.hackerrank.com/domains/python?filters%5Bsubdomains%5D%5B%5D=py-introduction
2. https://www.codingame.com/training


My personal favorite is https://adventofcode.com. Get ready, so that we can compete on its next edition, in December 2023 ;-)

Be sure to explore previous years as well: they go all the way back to https://adventofcode.com/2015 !

### [ExtraMile] Project

#### Exercise 1 -- Python Programming


You have a collection of boxes, each filled with a specific amount of money. Your goal is to arrange the boxes in a left-to-right order, from the box with the highest amount of money to the box with the lowest amount of money. To achieve this, you will employ the following process:

1. Start from the leftmost box and compare its money value with the box next to it.
2. If the ordering rule is violated (i.e., the box on the right has more money than the one on the left), move the wrongly placed box to the left until it reaches its correct position.
3. Repeat steps 1 and 2, starting from the left, until all the boxes are correctly ordered.

<hr color="black" />

**Your task**

<hr color="black" />


Determine the total number of boxes that need to be moved during this process.

Write a function ``count_moved_boxes`` that **takes in**:

* a *list* ``l`` of integer numbers;

The function **returns**:

* the number of times an element of the list is **lesser** than the previous element in the list

<br>

<hr color="black" />

**Examples.**

<hr color="black" />

* ``count_moved_boxes([1, 5, 9, 4, 10, 6, 2])`` must return 3 (`4` is less than `9`; `6` is less than `10` and `2` is less than `6`).

* ``count_moved_boxes([1, 2, 2, 3])`` must return 0.

* ``count_moved_boxes([])`` must return 0.

* ``count_moved_boxes([3, 2, 1, 1, 0])`` must return 3.

In [ ]:
# WRITE YOUR CODE HERE
def count_moved_boxes(l):
    return None

# Check whether the code is correct
q10.check()

#### Exercise 2 -- Python Programming



Albert, an avid traveler, has purchased a one-way ticket for his journey involving multiple train transfers within France. However, due to an unfortunate mishap, Albert accidentally mixed up the order of the train tickets, resulting in a perplexing situation. Without the correct sequence of trains, Albert is unable to determine the precise itinerary for his trip.

To complicate matters further, Albert knows that having repeated transfers at any city is impractical and should be avoided. Therefore, he needs assistance in rearranging the jumbled tickets to establish the correct order of trains.

Your task is to develop a solution that helps Albert reconstruct the correct itinerary for his journey. By successfully organizing the train tickets, you will enable Albert to navigate through the transfers efficiently and reach his final destination without unnecessary detours or complications.

Given a set of train tickets with their origin and destination cities, in an initially incorrect order, your solution should rearrange the tickets to form the correct sequential order of trains. This correct order should ensure that Albert can travel smoothly without encountering repeated transfers at any city.

<hr color="black" />

**Your task**

<hr color="black" />

Write a function ``get_order`` that **takes in**:

* `tickets`, a list of tuples containing the list of tickets Albert purchased;

The function **returns**:

* a list of tuples correctly ordered, so that the second element of every tuple is equal to the first element of the following tuple in the list.

<br>

<hr color="black" />

**Examples.**

<hr color="black" />

* ``t1 = ("Paris", "Nice")``

* ``t2 = ("Grenoble", "Lyon")``

* ``t3 = ("Marseille", "Paris")``

* ``t4 = ("Lyon", "Marseille")``

We have the following results:

* ``get_order([t1, t2, t3, t4])`` returns the list `[t2, t4, t3, t1]`. Write the list explicitly to see why this is the case !

In [ ]:
# WRITE YOUR CODE HERE
def get_order(tickets):
    return None


q11.check()

#### Exercise 3 -- Programming with pandas & Walmart data

Download data from this kaggle page to work on this exercise.

https://www.kaggle.com/datasets/manjeetsingh/retaildataset

Unleash the Power of Retail Data Analytics with Walmart's Dataset! Dive into the world of retail intelligence as you explore Walmart's dataset and extract valuable insights that can transform the industry. With a wide range of features including store information, historical sales data, and holiday weeks, this dataset offers an exciting opportunity to uncover hidden patterns, optimize strategies, and drive business growth. Get ready to harness the power of data and revolutionize the world of retail with the Retail Data Analytics dataset from Walmart!

By the end of the bootcamp, you will be able to tackle the case described on Kaggle:

1. Predict the department-wide sales for each store for the following year
2. Model the effects of markdowns on holiday weeks
3. Provide recommended actions based on the insights drawn, with prioritization placed on largest business impact

For now, we will focuse on more simple exploratory data analysis.

<h3>For now</h3>

Your task is to understand the data provided on the case, and use the information about sales and features to:

1. Create a dashboard to communicate the sales.
2. Study the impact of factors independent from Walmart on sales for various departments and types of stores: the weather, the fuel price, and the economical conjoncture.

Two deliverables:
1. Python notebook
2. A deck of 10 slides for a 10 minute presentation of your results -- Note that we only expect you to produce one deck, based either on your Excel or your Google Sheets analysis